
<div>
    <h1>Current Date and Time:</h1>
    <p>
        Date: @DateTime.Now.Day.ToString("00").@DateTime.Now.Month.ToString("00").@DateTime.Now.Year
        <br />
        @DateTime.Now.DayOfWeek
    </p>
    <p>
        Time: @DateTime.Now.Hour:@DateTime.Now.Minute
    </p>
</div>